services:
  backend:
    build:
      context: ./backend
    container_name: music-backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frontend
    container_name: music-frontend
    ports:
      - "8501:8501"
    depends_on:
      - backend

  mongo:
    image: mongo:6.0
    container_name: music-mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASS}
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
